[submodule "deps/wish-rpc-c99"]
	path = deps/wish-rpc-c99
	url = https://github.com/WishCore/wish-rpc-c99

[submodule "deps/ed25519"]
	path = deps/ed25519
	url = https://github.com/rdeker/ed25519.git
[submodule "deps/mbedtls"]
	path = deps/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "deps/uthash"]
	path = deps/uthash
	url = https://github.com/troydhanson/uthash.git
